.db-easy-pie {
  position: relative;
  text-align: center;
  width: 100%;
  height: 100%;

  .inner-text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    display: block;
  }
}

