/*
  TODO Just 3 versions
  - large - all columns - 12 ?
  - medium - half of columns - 6 ?
  - small - just 1 column
 */

.db-grid-layout {
  display: grid;
  grid-auto-rows: minmax(100px, auto);
  column-gap: 10px;
  row-gap: 1em;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .db-grid-layout {
    grid-template-columns: repeat(1, 1fr);
  }
  .cspan-2 {
    grid-column-end: span 1;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .db-grid-layout {
    grid-template-columns: repeat(6, 1fr);
  }
  .cspan-2 {
    grid-column-end: span 1;
  }
  .cspan-1 {
    grid-column-end: span 2;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .db-grid-layout {
    grid-template-columns: repeat(6, 1fr);
  }
  .cspan-2 {
    grid-column-end: span 1;
  }
  .cspan-4 {
    grid-column-end: span 2;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .db-grid-layout {
    grid-template-columns: repeat(12, 1fr);
  }
  .cspan-2 {
    grid-column-end: span 2;
  }
  .cspan-4 {
    grid-column-end: span 4;
  }
}
