/*
  TODO Just 3 versions
  - large - all columns - 12 ?
  - medium - half of columns - 6 ?
  - small - just 1 column
 */

.dbc-grid-layout {
  display: grid;
  grid-auto-rows: minmax(100px, auto);
  column-gap: 10px;
  row-gap: 1em;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .dbc-grid-layout {
    grid-template-columns: repeat(16, 1fr);

    .cspan-2 { grid-column-end: span 16; }
    .cspan-4 { grid-column-end: span 16; }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .dbc-grid-layout {
    grid-template-columns: repeat(16, 1fr);

    .cspan-2 { grid-column-end: span 8; }
    .cspan-4 { grid-column-end: span 16; }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .dbc-grid-layout {
    grid-template-columns: repeat(16, 1fr);

    .cspan-2 { grid-column-end: span 4; }
    .cspan-4 { grid-column-end: span 8; }
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .dbc-grid-layout {
    grid-template-columns: repeat(16, 1fr);

    .cspan-2 { grid-column-end: span 2; }
    .cspan-4 { grid-column-end: span 4; }
    .cspan-16 { grid-column-end: span 16; }
  }
}

