
// Dashblocks Variables

$primary   : #027BE3;
$secondary : #26A69A;
$accent    : #9C27B0;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;

$light     : #bdbdbd;
$dark      : #424242;
$faded     : #777;

$white     : #FFFFFF;
$black     : #000000;


// Colors for ranges
$neutral   : material-color('light-blue', '900');
$success   : material-color('light-green', '900');
$warning   : material-color('orange', '900');
$alarm     : material-color('red', '900');

// TODO - is this needed ?
$dimmed-background       : rgba(0, 0, 0, .4);
$light-dimmed-background : rgba(255, 255, 255, .6);
$separator-color      : rgba(0, 0, 0, .12);
$separator-dark-color : rgba(255, 255, 255, .48);


// Fonts
$font-family: 'Roboto', sans-serif;
$font-size: 14px;

// Text - TODO - is it needed ?
$on-primary: white;
$on-secondary: black;
$on-background: material-color('grey', '800');
$on-surface: $faded;
$on-error: white;




// Sidebar variables

$primaryColor: #4285f4 !default;
$baseBg: #2a2a2e !default;
$baseIconBg: red !default;
$darkenBg: darken( $baseBg, 5% ) !default;
$lightenBg: lighten( $baseBg, 5% ) !default;

$itemColor: #fff !default;

$itemOpenColor: #fff !default;
$itemOpenBg: $primaryColor !default;

$itemHoverColor: #fff !default;
$itemHoverBg: rgba($darkenBg, 0.5) !default;

$iconColor: #fff !default;
$iconBg: darken( $baseIconBg, 25% ) !default;

$iconActiveColor: #fff !default;
$iconActiveBg: lighten( $baseIconBg, 10% ) !default;

$iconOpenColor: #fff !default;
$iconOpenBg: transparent !default;

$mobileItemColor: #fff !default;
$mobileItemBg: $primaryColor !default;
$mobileIconBg: transparent !default;
$mobileIconColor: #fff !default;

$dropDownColor: #fff !default;
$dropDownBg: $lightenBg !default;



