@import '../dbdashboard';


// TODO How to override variables for dark scheme ?

.db-dashboard.db-theme-default {
  @include db-dashboard;

  & .db-txt-faded {
    color: material-color('grey', '700');
  }

  & .db-txt-highlight {
    color: material-color('grey', '800');
  }

}

.db-dashboard.db-theme-default.db-dark {
  color: $faded;

  & .db-txt-faded {
    color: material-color('grey', '700');
  }

  & .db-txt-highlight {
    color: material-color('grey', '500');
  }

  & .db-widget-container {
    border: 0px;
    background: material-color('grey', '900');
  }

  & .dygraph-axis-label {
    color: $light;
  }
}
