@import '../dbdashboard';


// TODO How to override variables for dark scheme ?

.db-dashboard.db-theme-default {
  @include db-dashboard;
}

.db-dashboard.db-theme-default.db-dark {
  color: $light;
  & .db-widget-container {
    border: 1px solid material-color('blue-grey', '900');
  }

  & .dygraph-axis-label {
    color: $light;
  }
}
